body{
    background-color: #E6466B;
}

.container-fluid {
    background-color: white;
}

#section1{
    position: relative;
    width: 1440px;
    height: 900px;
    
    background-color: #E6466B;
}

.sapa {
    position: absolute;
    width: 600px;
    height: 348px;
    left: 401px;
    top: 140px;

    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 160px;
    text-align: center;
    z-index: +1;

    color: #FFFFFF;
}

.intro {
    position: absolute;
    width: 571px;
    height: 69px;
    left: 415px;
    top: 619px;

    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    text-align: center;

    color: #FFFFFF;
}

.circle {
    position: absolute;
    width: 494px;
    height: 461px;
    left: 454px;
    top: 113px;
}

button {
    position: absolute;
    width: 186px;
    height: 35px;
    left: 608px;
    top: 734px;

    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    text-align: center;

    color: white;
    background-color: rgba(255, 248, 209, 0.5);

    border-radius: 12px;
    border: 2px solid white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #E6466B;
}
button a:hover {
    background-color: white;
    color: #E6466B;
}

button a {
    color : white;
    -webkit-transition-duration: 0.4s;
}

#section2 {
    position: relative;
    width: 1440px;
    height: 900px;

    background-color: #FFFFFF;
 }

.nama{
    position: absolute;
    width: 711px;
    height: 202px;
    left: 608px;
    top: 111px;
    
    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 90px;
    
    color: #FFFFFF;
    z-index: +2;
}

.description{
    position: absolute;
    width: 600px;
    height: 248px;
    left: 602px;
    top: 334px;
    
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    text-align: justify;
    
    color: rgba(0, 0, 0, 0.78);    
    z-index: +2
}

.skill{
    position: absolute;
    width: 134px;
    height: 70px;
    left: 633px;
    top: 530px;
    
    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 50px;
    
    color: #000000;
    z-index: +1;
}

.kontak{
    position: absolute;
    width: 297px;
    height: 55px;
    left: 548px;
    top: 700px;
    
    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 50px;
    text-align: center;
    
    color: #000000;
    z-index: +1;
}

.contact{
    position: absolute;
    width: 440px;
    height: 55px;
    left: 530px;
    top: 770px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 30px;
    
    color: #000000;
    z-index: +1;
}

.foto-saya{
    position: absolute;
    width: 394px;
    height: 389px;
    left: 192px;
    top: 130px;
    z-index: +2;
}

.pink-atas{
    position: absolute;
    width: 1440px;
    height: 585px;
    left: 0px;
    top: 0px;;
    z-index: +1;
}

.biru-kiri{
    position: absolute;
    width: 844.5px;
    height: 450px;
    left: 0px;
    top: 450px;
    z-index: 0;
}

.krem-kanan{
    position: absolute;
    width: 832px;
    height: 700px;
    left: 608px;
    top: 200px;
    z-index: 0;
}

.java{
    position: absolute;
    width: 66.86px;
    height: 118.01px;
    left: 764px;
    top: 580px;
    
    background: url(java.png);
    transform: rotate(-0.59deg);
    z-index: +1;
}

.python{
    position: absolute;
    width: 238px;
    height: 74px;
    left: 483px;
    top: 610px;
    
    background: url(python.png);
    z-index: +1;
}

.email{
    position: absolute;
    width: 49px;
    height: 38px;
    left: 458px;
    top: 770px;

    background: url(gmail logo.png);
    z-index: +1;
}

.quote {
    position: absolute;
    width: 800px;
    height: 348px;
    left: 301px;
    top: 250px;

    font-family: Tinos;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 80px;
    text-align: center;
    z-index: +1;

    color: #FFFFFF;
}

@media only screen and (max-width: 400px) {
    #section1{
        position: relative;
        width: 400px;
        height: 800px;
        
        background-color: #E6466B;
    }
    
    .sapa {
        position: absolute;
        width: 257px;
        height: 166px;
        left: 59px;
        top: 250px;

        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 72px;
        text-align: center;

        color: #FFFFFF;
    }
    
    .intro {
        position: absolute;
        width: 249px;
        height: 138px;
        left: 63px;
        top: 468px;

        font-family: Tinos;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 24px;
        text-align: center;

        color: #FFFFFF;
    }
    
    .circle {
        position: absolute;
        width: 231px;
        height: 223px;
        left: 72px;
        top: 222px;
    }
    
    button {
        position: absolute;
        width: 109px;
        height: 35px;
        left: 133px;
        top: 648px;
    
        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 15px;
        text-align: center;
    
        color: white;
        background-color: rgba(255, 248, 209, 0.5);
    
        border-radius: 12px;
        border: 2px solid white;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    button:hover {
        background-color: white;
        color: #E6466B;
    }
    button a:hover {
        background-color: white;
        color: #E6466B;
    }
    
    button a {
        color : white;
        -webkit-transition-duration: 0.4s;
    }
    
    #section2 {
        position: relative;
        width: 400px;
        height: 500px;
    
        background-color: #FFFFFF;
     }
    
    .nama{
        position: absolute;
        width: 192px;
        height: 98px;
        left: 171px;
        top: 65px;

        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 50px;
        text-align: right;

        color: #FFFFFF;
        z-index: +2;
    }
    
    .description{
        position: absolute;
        width: 307px;
        height: 341px;
        left: 34px;
        top: 294px;

        font-family: Tinos;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 21px;
        text-align: justify;

        color: rgba(0, 0, 0, 0.78);    
        z-index: +2
    }
    
    .skill{
        position: absolute;
        width: 71px;
        height: 35px;
        left: 34px;
        top: 481px;

        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 30px;
        text-align: justify;

        color: rgba(0, 0, 0, 0.78);
        z-index: +1;
    }
    
    .kontak{
        position: absolute;
        width: 163px;
        height: 35px;
        left: 134px;
        top: 481px;
        
        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 30px;
        text-align: center;
        position: absolute;

        color: #000000;
        z-index: +1;
    }
    
    .contact{
        position: absolute;
        width: 218px;
        height: 21px;
        left: 155px;
        top: 535px;

        font-family: Tinos;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 18px;

        color: #000000;
        z-index: +1;
    }
    
    .foto-saya{
        position: absolute;
        width: 174px;
        height: 174px;
        left: 14px;
        top: 75px;
        z-index: +2;
    }
    
    .pink-atas{
        position: absolute;
        width: 500px;
        height: 300px;
        left: 0px;
        top: 0px;;
        z-index: +1;
    }
    
    .biru-kiri{
        position: absolute;
        width: 300px;
        height: 400px;
        left: 0px;
        top: 300px;
        z-index: 0;
    }
    
    .krem-kanan{
        position: absolute;
        width: 300px;
        height: 500px;
        left: 200px;
        top: 200px;
        z-index: 0;
    }
    
    .java{
        position: absolute;
        width: 23px;
        height: 46px;
        left: 34px;
        top: 561px;
        
        background: url(java.png);
        transform: rotate(-0.59deg);
        z-index: +1;
    }
    
    .python{
        position: absolute;
        width: 52px;
        height: 21px;
        left: 34px;
        top: 535px;
        
        background: url(python.png);
        z-index: +1;
    }
    
    .email{
        position: absolute;
        width: 25px;
        height: 21px;
        left: 130px;
        top: 535px;
    
        background: url(gmail logo.png);
        z-index: +1;
    }
    
    .quote {
        position: absolute;
        width: 250px;
        height: 348px;
        left: 70px;
        top: 250px;
    
        font-family: Tinos;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        font-size: 50px;
        text-align: center;
        z-index: +1;
    
        color: #FFFFFF;
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 50px;
  }
 

.sign-Up{
    body {font-family: Arial, Helvetica, sans-serif;}
    *{box-sizing: border-box;
    }
}

button:hover {
    opacity:1;
  }  


.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    opacity: 0.9

    float: left;
    width: 30%;
  }
  

.signupbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;

    left: 100px;
    opacity: 0.9;

    float: left;
    width: 30%;
  }
  
  /* Add padding to container elements */
.container {
    padding: 16px;
  }
  
  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}

