<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Story 3 Nurul</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

</head>

<body>
    {% include 'pages/header.html' %}

    {% block body %}

    {% endblock %}

    {% include 'pages/footer.html' %}

    <p style="text-align: center; font-size: 10px" ;">{{time}}></p>

</body>