{% extends 'pages/base.html' %}
{% load static %}
{% block body %}

    <div id ="section1">
        <h1 class="sapa">HI, I'M NURUL</h1>
        <p class="intro">I'm a first-year undergraduate student in Universitas Indonesia, Faculty of Computer Science</p>
        <button><a href="#section2">READ MORE</a></button>
        
        <img class="circle" src="{% static 'img/Ellipse.png' %}" alt="">
    </div>

    <div id="section2">
        <h1 class="nama">Nurul Srianda Putri</h1>
        <p class="description">An ambitious undergraduate student majoring in Computer Science. Have an interest in data science. Able to balance multiple competing priorities, currently staff of BEM Fasilkom UI Deparment of Public Social Services.</p>
        <h2 class="skill">Skills</h2>
        <h2 class="kontak">Contact me!</h2>
        <p class="contact">nurulsriandaputri@gmail.com</p>

        <img class="foto-saya" src="{% static 'img/Rectangle.png' %}" alt="">
        <img class="pink-atas" src="{% static 'img/Rectangle 2.png' %}" alt="">
        <img class="biru-kiri" src="{% static 'img/Rectangle 2-2.png' %} alt="">
        <img class="krem-kanan" src="{% static 'img/Rectangle 2-3.png' %}" alt="">
        <img class="java" src="{% static 'img/java.png' %}" alt="">
        <img class="python" src="{% static 'img/python.png' %}" alt="">
        <img class="email" src="{% static 'img/gmail logo.png' %}" alt="">
    </div>
   
    <div class="section3">
        <a href="#baru.html"></a>
    </div>
</body>
{% endblock %}
</html>